[run]
branch = True
parallel = True
source = twisted_platform_support

[paths]
source=
   src/twisted_platform_support
   build/*/lib/python*/site-packages/twisted_platform_support
   build/*/Lib/site-packages/twisted_platform_support
   build/pypy*/site-packages/twisted_platform_support

[report]
precision = 2
ignore_errors = True
