[run]
branch = True
parallel = True
source = _twisted_platform_support

[paths]
source=
   src/_twisted_platform_support
   build/*/lib/python*/site-packages/_twisted_platform_support
   build/*/Lib/site-packages/_twisted_platform_support
   build/pypy*/site-packages/_twisted_platform_support

[report]
precision = 2
ignore_errors = True
