include tox.ini
include .coveragerc
include LICENSE

recursive-include src *.bat
recursive-include src *.h
recursive-include src *.pxi
recursive-include src *.py
recursive-include src *.pyx
recursive-include src *.txt

prune .travis
exclude appveyor.yml
